
.App {
  text-align: center;
  /* width: 800px;  */
  
}

.blok{
  margin-top: 10px;
}
.modal{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 600px;
  
  background: rgba(0, 0, 0, 0.5);
}
.modal.active{
  display: flex;
  flex-direction: column;
  
  
  justify-content: center;
  align-items: center;

  
}

.edit-btn{
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.form-gap{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  max-width: 700px;
  margin: 0 auto;
}
.list{
  width: 700px;
  margin: 0 auto;
}
.btn-end{
  margin-top: 15px;
}

