.App {
  text-align: center;
  width: 800px;
}
.hide{
  display: none;
}
.blok{
  margin-top: 10px;
}
.modal{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal.active{
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  
}
.edit_blok{
  width: 700px;
}
